[Unit]
Description=TRADE APP BOT Telegram Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/bot
ExecStart=/root/bot/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
